.app {
    margin: 0 auto;
    position: relative;
    top: 20px;
    width: 402px;
    height: 610px;
    background: white;
    border: 1px solid black;
}

.fix {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: yellow;
}

nav {
    display: block;
    position: relative;
    width: 60px;
    height: 608px;
    background: rgb(65, 57, 52);
    float: left;
}

ul {
    width: 60px;
}

li {
    text-align: center;
    height: 50px;
}

nav ul li a img {
    width: 35px;
    height: 35px;
}

#top-icon {
    top: 40px;
    position: absolute;
}

#bottom-icon {
    bottom: 20px;
    position: absolute;
}

section {
    width: 340px;
    float: right;
    height: 608px;
    padding: 10px 10px 0px 10px;
}

article.friend {
    height: 40px;
}

article.friend p {
    color: black;
    font-size: 14pt;
    font-weight: bold;
}

article.friend p span {
    color: gray;
    font-size: 12pt;
    font-weight: 500;
}

article.search {
    height: 30px;
}

article.search input {
    width: 100%;
    padding: 5px;
}

footer {
    display: table;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: rgb(65, 57, 52);
}

footer>p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 12pt;
}